<div class="container pt-5 pb-5">
    <div class="col-12">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Services Component</h5>
                    <p class="card-text">My name is Praveen Kumar and I am from Hindustan. I love my India</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Services Component</h5>
                    <p class="card-text">My name is Praveen Kumar and I am from Hindustan. I love my India</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Services Component</h5>
                    <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam, sint dicta magni, tempore beatae reiciendis magnam earum laborum corporis ratione ad nam necessitatibus suscipit velit nihil recusandae illum impedit fugit..</p>
                    <a class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>