<div class="container pt-5 pb-5">
    <div class="col-6">
        <div class="d-flex flex-wrap justify-content-center">
            <div class="card shadow mb-3" style="width: 25rem;">
                <div class="card-body">
                  <h5 class="card-title"><i class="fa-solid fa-angle-left fa-2x"  routerLink="/" style="color: green;"></i></h5>
                  <div class="row">
                   <div class="col-6">
                       <div class="text-muted font-weight-bold">
                           <p>You have arrived at:</p>
                           <p>Time/Date:</p>
                       </div>
                   </div>
                   <div class="col-6"> 
                       <div class="text-muted ">
                        <p>New Delhi</p>
                        <p>at 12: 30 pm on 15/04/2021</p>
                       </div>
                   </div>
                  </div>
                </div>
            </div>

            <div class="card shadow" style="width: 25rem;">
                <div class="card-body text-muted">
                  <!-- <h5 class="card-title">Next Trip</h5> -->
                  <p class="card-text ">You have left the hub on 14/05/2021 at 12: pm.</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
    </div>
</div>