<div class="container pt-3 pb-5">
    <div class="col-6">
        <div class="d-flex flex-wrap justify-content-center">
            <div class="card shadow mb-5" style="width: 25rem;" id="htmlData">
                <div class="card-body">
                  <h5 class="card-title font-weight-bold">Current Trip</h5>
                  <div class="row">
                   <div class="col-6">
                       <div class="text-muted font-weight-bold">
                           <p>Gate Number:</p>
                           <p>Reporting Time:</p>
                           <p>From:</p>
                           <p>To</p>
                           <p>Scheduled Departure:</p>
                           <p>Actual Departure:</p>
                           <p>Scheduled Arrival:</p>
                           <p>Actual Arrival:</p>
                           <p>Status:</p>
                       </div>
                   </div>
                   <div class="col-6" class="text-muted">
                       <p>45</p>
                       <p>9:10 am</p>
                       <p>New Delhi</p>
                       <p>Kanpur</p>
                       <p>12/04/2021   9:30 am</p>
                       <p>12/04/2021   9:30 pm</p>
                       <p>15/04/2021  4:25 pm</p>
                       <p>15/04/2021  4:25 pm</p>
                       <p>Closed</p>
                   </div>
                  </div>
                </div>
            </div>
            <div class="card  border-0" style="width: 25rem;">
                <div class="card-body">
                  <div class="row pl-4">
                      <span><i class="fa-solid fa-file-pdf fa-3x" style="color: green; cursor: pointer;" (click)="downloadPDF()"></i></span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <span><i class="fa-solid fa-barcode fa-3x" style="color: green; cursor: pointer;"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <span><i class="fa-solid fa-share-nodes fa-3x" style="color: green; cursor: pointer;"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <span><i class="fa-solid fa-qrcode fa-3x" style="color: green; cursor: pointer;"></i></span>
                </div>
                </div>
            </div>

            <div class="card shadow" style="width: 25rem;">
                <div class="card-body">
                  <h5 class="card-title font-weight-bold">Next Trip</h5>
                  <div class="row">
                    <div class="col-6" >
                        <div class="text-muted font-weight-bold">
                            <p>From:</p>
                            <p>To:</p>
                            <p>Scheduled Departure:</p>
                        </div>
                    </div>
                    <div class="col-6" class="text-muted ">
                        <p>Noida</p>
                        <p>Varanasi</p>
                        <p>12/04/2021   9:30 pm</p>
                    </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>